<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'attendee\dashboard.css' %}">
</head>

<body>
    <div class="container">
        {% include "components/dashboard_topbar.html" %}
    {% include "components/dashboard_sidebar.html" %}
        
        <div class="main">
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">{{ total_events }}</div>
                        <div class="card-name">Events</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="number">{{ connections }}</div>
                        <div class="card-name">Connections</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                </div>

                {% comment %} <div class="card">
                    <div class="card-content">
                        <div class="number">68</div>
                        <div class="card-name">Employees</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-users"></i>
                    </div>
                </div> {% endcomment %}

                <div class="card">
                    <div class="card-content">
                        <div class="number">Rs. {{ total_spending }}</div>
                        <div class="card-name">Total Spending</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-indian-rupee-sign"></i>
                    </div>
                </div>
            </div>
            <div class="charts">
                <div class="chart">
                    <h2>Your Bookings (past 12 months)</h2>
                    <canvas id="linechart"></canvas>
                </div>
                <div class="chart" id="doughnut-chart">
                    <h2>Ticket Price</h2>
                    <canvas id="doughnut"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% comment %} {{ pie_chart_labels|json_script:"pie-labels" }} {% endcomment %}
    {{ pie_chart_data|json_script:"pie-data" }}
    <script> 
        const booking_data = {{ monthly_bookings.data }}
        let chartData = JSON.parse(document.getElementById('pie-data').textContent);
         chartData = JSON.parse(chartData)
        {% comment %} const chartLabels = JSON.parse(document.getElementById('pie-labels').textContent); {% endcomment %}
        {% comment %} const pie_labels = chartData.labels;
        const pie_data = chartData.data; {% endcomment %}
        {% comment %} console.log(document.getElementById('pie-data').textContent) {% endcomment %}
        console.log(document.getElementById('pie-data').textContent)
        console.log(chartData)
        console.log(typeof(chartData))
        {% comment %} console.log(chartLabels) {% endcomment %}
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script> 
    <script src="{% static 'attendee/dashboard.js' %}"></script>
</body>

</html>