<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'attendee\event_2.css' %}">
  <title>Events</title>
</head>
<body>
 <!-- Header/Navbar Start-->
 <div class="header">
  <a href="https://th.bing.com/th/id/OIP.kKfVTjELaHK6NEN8qlVYtAHaHa?rs=1&pid=ImgDetMain" class="logo">
      <img src="https://th.bing.com/th/id/OIP.kKfVTjELaHK6NEN8qlVYtAHaHa?rs=1&pid=ImgDetMain" alt="">
  </a>

  <nav class="navbar">
      <a href="#Home">Home</a>
      <a href="#About">About</a>
      <a href="#Services">Services</a>
      <a href="#Gallery">Gallery</a>
      <a href="#Review">Review</a>
      <a href="#Contact">Contact</a>
      <a href="register">Register</a>
      <a href="event">Event</a>
      <a href="hostevent">HostEvent</a>
      <a href="dashboard">Dashboard</a>
      <a href="viewattendees">Viewattendees</a>
      <a href="dashboard_events">Dashboard_Events</a>
      <a href="dashboard_user">Dashboard_user</a>
  </nav>
  <div class="fas fa-bars" id="MenuBtn"></div>
</div>
<!-- Header/Navbar End-->
  <div class="container">
    {% for event in events %}
    
      <div class="item-container">
        <div class="img-container">
          <img src="{{ event.url }}" alt="Event image"> 
        </div>
        <div class="body-container">
          <div class="overlay"></div>

          <div class="event-info">
            <p class="title"><a href="{% url "event_detail" event.id %}">{{ event.name }}</a></p>
            <div class="seprator"></div>
            <p class="info">{{ event.info }}</p>
            <p class="price">Rs.{{ event.grade1_price }}</p>

            <div class="additional-info">
              <p class="info">
                <i class="fas fa-map-marker-alt"></i>
                {{ event.venue }}
              </p>
              <p class="info">
                <i class="fas fa-calender"></i>
                {{ event.date }}
              </p>
              
              <p class="info-description"> 
                {{ event.description }} <span> more..... </span>
              </p>
            </div>
          </div>
          <button class="action" > <a href="{% url "event_detail" event.id %}" > Book it</a></button>
        </div>
      </div>
    {% endfor %}

    

    


  </div>


  <script src="{% static 'attendee\eventdetail.js' %}"></script>
</body>
</html>