<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link style css -->
    <link rel="stylesheet" href="{% static 'attendee\event.css' %}">
    <title>List of events</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="event-list-container">
        <h2>6 events</h2>

        <div class="events">
              <div class="event">
                <img src="https://th.bing.com/th/id/OIP.4jdgL0CzHEyS2A26eFNNJwHaEB?w=735&h=400&rs=1&pid=ImgDetMain" alt=""/>
                <h3 class="event-title">Musical Event</h3>
                <div class="details">
                    Music has the power to heal the soul and pull distant hearts together. Listening to music on a phone or on television is the way to relax for many people. However, only a real music fan would understand the bliss of listening to music in a live concert.
                </div>
                <a href="#" class="details-btn">More Details</a>
                <span class="open-positions">4 open position</span>
              </div>

              <div class="event">
                <img src="https://th.bing.com/th/id/OIP.4jdgL0CzHEyS2A26eFNNJwHaEB?w=735&h=400&rs=1&pid=ImgDetMain" alt=""/>
                <h3 class="event-title">Musical Event</h3>
                <div class="details">
                    Music has the power to heal the soul and pull distant hearts together. Listening to music on a phone or on television is the way to relax for many people. However, only a real music fan would understand the bliss of listening to music in a live concert.
                </div>
                <a href="#" class="details-btn">More Details</a>
                <span class="open-positions">4 open position</span>
              </div>

              <div class="event">
                <img src="https://th.bing.com/th/id/OIP.4jdgL0CzHEyS2A26eFNNJwHaEB?w=735&h=400&rs=1&pid=ImgDetMain" alt=""/>
                <h3 class="event-title">Musical Event</h3>
                <div class="details">
                    Music has the power to heal the soul and pull distant hearts together. Listening to music on a phone or on television is the way to relax for many people. However, only a real music fan would understand the bliss of listening to music in a live concert.
                </div>
                <a href="#" class="details-btn">More Details</a>
                <span class="open-positions">4 open position</span>
              </div>

              <div class="event">
                <img src="https://th.bing.com/th/id/OIP.4jdgL0CzHEyS2A26eFNNJwHaEB?w=735&h=400&rs=1&pid=ImgDetMain" alt=""/>
                <h3 class="event-title">Musical Event</h3>
                <div class="details">
                    Music has the power to heal the soul and pull distant hearts together. Listening to music on a phone or on television is the way to relax for many people. However, only a real music fan would understand the bliss of listening to music in a live concert.
                </div>
                <a href="#" class="details-btn">More Details</a>
                <span class="open-positions">4 open position</span>
              </div>

              <div class="event">
                <img src="https://th.bing.com/th/id/OIP.4jdgL0CzHEyS2A26eFNNJwHaEB?w=735&h=400&rs=1&pid=ImgDetMain" alt=""/>
                <h3 class="event-title">Musical Event</h3>
                <div class="details">
                    Music has the power to heal the soul and pull distant hearts together. Listening to music on a phone or on television is the way to relax for many people. However, only a real music fan would understand the bliss of listening to music in a live concert.
                </div>
                <a href="#" class="details-btn">More Details</a>
                <span class="open-positions">4 open position</span>
              </div>

              <div class="event">
                <img src="https://th.bing.com/th/id/OIP.4jdgL0CzHEyS2A26eFNNJwHaEB?w=735&h=400&rs=1&pid=ImgDetMain" alt=""/>
                <h3 class="event-title">Musical Event</h3>
                <div class="details">
                    Music has the power to heal the soul and pull distant hearts together. Listening to music on a phone or on television is the way to relax for many people. However, only a real music fan would understand the bliss of listening to music in a live concert.
                </div>
                <a href="#" class="details-btn">More Details</a>
                <span class="open-positions">4 open position</span>
              </div>

        </div>

    </div> 
   
    <script src="{% static 'attendee\event.js' %}"></script>
</body>
</html>