<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Host an Event</title>
    <!-- Bootstrap CSS File -->
    <link href="{% static 'attendee/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'attendee/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'attendee/lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'attendee/lib/venobox/venobox.css'%}" rel="stylesheet">
    <link href="{% static 'attendee/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'attendee/css/style.css'%}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'attendee\hostevent.css' %}">
</head>

<body>

    {% include "components/navbar.html" %} 


    <section class="navbar">
        <header>Host Form</header>
        <form action="#" class="form" id="host_event_form">
            <div class="input-box">
                <label>Event Name</label>
                <input type="text" placeholder="Enter event name" name="name" required />
            </div>
    
            <div class="input-box">
                <label>Event Info</label>
                <input type="text" placeholder="Enter event info (description or details)" name="info" required />
            </div>
    
            <div class="column">
                <div class="input-box">
                    <label>Event Place (Venue)</label>
                    <input type="text" placeholder="Enter event place" name="venue" required />
                </div>
    
                <div class="input-box">
                    <label>Date of Event</label>
                    <input type="date" placeholder="Enter date of event" name="date" required />
                </div>
            </div>
    
            <div class="column">
                <div class="input-box">
                    <label>Grade 1 Price</label>
                    <input type="number" step="0.01" placeholder="Enter Grade 1 price" name="grade1_price" required />
                </div>
    
                <div class="input-box">
                    <label>Grade 2 Price</label>
                    <input type="number" step="0.01" placeholder="Enter Grade 2 price" name="grade2_price" required />
                </div>
    
                <div class="input-box">
                    <label>Grade 3 Price</label>
                    <input type="number" step="0.01" placeholder="Enter Grade 3 price" name="grade3_price" required />
                </div>
            </div>
    
            <div class="input-box">
                <label>Description of Event</label>
                <textarea placeholder="Enter Description of event" name="description" required></textarea>
            </div>
    
            <div class="input-box">
                <label>Event URL</label>
                <input type="url" placeholder="Enter event URL" name="url" required />
            </div>
    
            <button type="submit">Submit</button>
        </form>
    </section>
    


       <!-- JavaScript Libraries -->
   <script src="{% static 'attendee/lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'attendee/lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static 'attendee/lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'attendee/lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'attendee/lib/superfish/hoverIntent.js'%}"></script>
  <script src="{% static 'attendee/lib/superfish/superfish.min.js'%}"></script>
  <script src="{% static 'attendee/lib/wow/wow.min.js'%}"></script>
  <script src="{% static 'attendee/lib/venobox/venobox.min.js'%}"></script>
  <script src="{% static 'attendee/lib/owlcarousel/owl.carousel.min.js'%}"></script>

   
  <!-- <script src="{% static 'attendee/contactform/contactform.js'%}"></script> 

   Template Main Javascript File -->
  {% comment %} <script src="{% static 'attendee/js/main.js'%}"></script> {% endcomment %}
    <script src="{% static 'attendee\hostevent.js'%}"></script>
</body>

</html>