<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'attendee\viewattendees.css' %}">
</head>
<body>

    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>Brand.</h2>
            </div>
            <div class="search">
                <input type="text" id="search" placeholder="search here">
                <label for="search"> <i class="fas fa-search"></i></label>
            </div>
            <i class="fas fa-bell"></i>
            <div class="user">
                <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?t=st=1741252154~exp=1741255754~hmac=470da8d9379ed74e0f5807ed80cca7a203983fdcf9ae95b5a4ddedd01e560d91&w=740"
                    alt="">
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>

                <li>
                    <a href="{% url "eventPage" %}">
                        <i class="fas fa-user-graduate"></i>
                        <div>Events</div>
                    </a>
                </li>

                {% comment %} <li>
                    <a href="#">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div>Previous Events</div>
                    </a>
                </li> {% endcomment %}


                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <div>Settings</div>
                    </a>
                </li>

              
            </ul>
        </div>
        <div class="main">
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">12</div>
                        <div class="card-name">Events</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="number">600</div>
                        <div class="card-name">Attendees</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                </div>

                {% comment %} <div class="card">
                    <div class="card-content">
                        <div class="number">68</div>
                        <div class="card-name">Employees</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-users"></i>
                    </div>
                </div> {% endcomment %}

                <div class="card">
                    <div class="card-content">
                        <div class="number">Rs.45000</div>
                        <div class="card-name">Earnings</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-indian-rupee-sign"></i>
                    </div>
                </div>
            </div>

            <div class="details">
                <div class="recentevents">
                    <div class="cardHeader">
                        <h2>Recent Events</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Price</td>
                                <td>Attendees</td>
                                <td>Info</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Musical Concert</td>
                                <td>Rs.500</td>
                                <td>8000</td>
                                <td><span class="event info">Live Concert</span></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Carnival</td>
                                <td>Rs.350</td>
                                <td>3000</td>
                                <td><span class="Event info">Fun Fair</span></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td> National Book Fair</td>
                                <td>Free</td>
                                <td>2000</td>
                                <td><span class="Event info">Book Fair</span></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Charity event</td>
                                <td>Free</td>
                                <td>11000</td>
                                <td><span class="Event info">Humanism</span></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Art exhibitions</td>
                                <td>Rs.200</td>
                                <td>4000</td>
                                <td><span class="Event info">Art Gallery</span></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Comedy Show</td>
                                <td>Rs.600</td>
                                <td>4000</td>
                                <td><span class="Event info">Standup Comedy</span></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Magic Show</td>
                                <td>Rs.200</td>
                                <td>4500</td>
                                <td><span class="Event info">Circus Routine</span></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td>Poetry Slams</td>
                                <td>Rs.750</td>
                                <td>2500</td>
                                <td><span class="Event info">Spoken Word Poetry</span></td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>

                <div class="recentevents">
                    <div class="cardHeader">
                        <h2>Attendees of Event 1</h2> 
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="https://i.pinimg.com/474x/78/a1/d4/78a1d45b89ab3a8354f359b6a1cb67e2.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Rohan <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://th.bing.com/th/id/OIP.GE6MMIFJI4DhvNk-7CngLQHaHe?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>David<br> <span>England</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://i.pinimg.com/originals/b8/64/c4/b864c4ab106ea7470f7f55e6316bf47b.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Meera<br> <span>India </span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://th.bing.com/th/id/OIP.JCNUZ3DLIaVD8bLNydGsfwAAAA?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="https://th.bing.com/th/id/OIP.4R2aT9XNrXPtq2iSOeIwXAHaMR?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>Ruhanika <br> <span>Australia </span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="https://th.bing.com/th/id/OIP.HTx5rKWri2imxDzg6Lv3mQHaNX?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>Sehar <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://1.bp.blogspot.com/-sz3u3hXucZg/Xc-5o3dTjYI/AAAAAAAAB48/4gwKJ8lGGCQJh14yCYSyRK3K3MysH1M2QCPcBGAYYCw/s1600/IMG_0015.JPG" alt=""></div>
                            </td>
                            <td>
                                <h4>Sehaj <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://i.pinimg.com/originals/82/43/20/8243202c860457a33803b0d379a336f7.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Sanyam <br> <span>canada </span></h4>
                            </td>
                        </tr>


                    </table>
                </div>

            </div>
        </div>
    </div>
    
    <script src="{% static 'attendee/viewattendees.js'%}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>