<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'attendee\viewtickets.css' %}">
</head>
<body>

    <div class="container">
        {% include "components/dashboard_topbar.html" %}
        {% include "components/dashboard_sidebar.html" %}
        <div class="main">
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">{{ total_events }}</div>
                        <div class="card-name">Events</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                </div>

                {% comment %} <div class="card">
                    <div class="card-content">
                        <div class="number">600</div>
                        <div class="card-name">Attendees</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                </div>

                 <div class="card">
                    <div class="card-content">
                        <div class="number">68</div>
                        <div class="card-name">Employees</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-users"></i>
                    </div>
                </div> 

                <div class="card">
                    <div class="card-content">
                        <div class="number">Rs.45000</div>
                        <div class="card-name">Earnings</div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-indian-rupee-sign"></i>
                    </div>
                </div> {% endcomment %}
            </div>

            <div class="details">
                <div class="recentevents">
                    <div class="cardHeader">
                        <h2>Recent Events</h2>
                        <a href="#" class="btn">View All</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Event Name</th>
                                <th>Ticket Grade</th>
                                <th>Price</th>
                                <th>Event Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                            <tr>
                                <td>{{ ticket.ticket_id }}</td>
                                <td>{{ ticket.event_name }}</td>
                                <td>{{ ticket.ticket_type }}</td>
                                <td>Rs.{{ ticket.ticket_price }}</td>
                                <td>{{ ticket.event_date }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">You have not booked any tickets yet.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div>

                {% comment %} <div class="recentevents">
                    <div class="cardHeader">
                        <h2>Attendees of Event 1</h2> 
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="https://i.pinimg.com/474x/78/a1/d4/78a1d45b89ab3a8354f359b6a1cb67e2.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Rohan <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://th.bing.com/th/id/OIP.GE6MMIFJI4DhvNk-7CngLQHaHe?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>David<br> <span>England</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://i.pinimg.com/originals/b8/64/c4/b864c4ab106ea7470f7f55e6316bf47b.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Meera<br> <span>India </span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://th.bing.com/th/id/OIP.JCNUZ3DLIaVD8bLNydGsfwAAAA?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>Italy</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="https://th.bing.com/th/id/OIP.4R2aT9XNrXPtq2iSOeIwXAHaMR?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>Ruhanika <br> <span>Australia </span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="https://th.bing.com/th/id/OIP.HTx5rKWri2imxDzg6Lv3mQHaNX?rs=1&pid=ImgDetMain" alt=""></div>
                            </td>
                            <td>
                                <h4>Sehar <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://1.bp.blogspot.com/-sz3u3hXucZg/Xc-5o3dTjYI/AAAAAAAAB48/4gwKJ8lGGCQJh14yCYSyRK3K3MysH1M2QCPcBGAYYCw/s1600/IMG_0015.JPG" alt=""></div>
                            </td>
                            <td>
                                <h4>Sehaj <br> <span>India</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src=" https://i.pinimg.com/originals/82/43/20/8243202c860457a33803b0d379a336f7.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Sanyam <br> <span>canada </span></h4>
                            </td>
                        </tr>


                    </table>
                </div> {% endcomment %}

            </div>
        </div>
    </div>
    
    <script src="{% static 'attendee/viewattendees.js'%}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>