@import url(https://th.bing.com/th/id/OIP.YpgaYVxWjgYE9vxevVrKpgHaE8?w=255&h=180&c=7&r=0&o=5&pid=1.7);


*{
    font-family: "Besley", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s all linear;
}
*::selection {
    background: var(--main);
    color: #fff;
}
html{
    font-size: 68.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
selection{
    padding: 2rem 7%;
}
.btn{
    display: inline-block;
    background: var(--main);
    cursor: pointer;
    color: #fff;
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
.heading {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
}
.heading span {
    color: var(--main);
}
html::-webkit-scrollbar{
    width: 10px;
}
html::-webkit-scrollbar-thumb{
    background: var(--main);
}
html::-webkit-scrollbar-track{
    background: #000;
}
/* Global Variables */
:root{
    --main:#f01027;
    --box_shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.3);
}

/*Navbar/Header Start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 9%;
}
.header .logo img{
    height: 7rem;
}
.header .navbar a{
    color: #fff;
    margin-left: 2rem;
    font-size: 1.7rem;
}
.header .navbar a:hover{
    color: var(--main);
}
#MenuBtn{
    color: hsl(0, 0%, 100%);
    font-size: 3rem;
    display: none;
}
/*Navbr/Header End */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-container{
    position: relative;
    margin: 24px;
    width: 320px;
    height: 570px;
    overflow: hidden;
    background-color: #fff ;
    box-shadow: 0 o 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-container,
.body-container{
    position: absolute;
    top: 0;
    left: o;
    width: 100%;
    height: 100%;
}

.img-container img{
    height: 60%;
    position: absolute;
}

.body-container{
    position: relative;
}

.overlay{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay{
    opacity: 1;
    height: 70px;
}

.event-info {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.title a,
.price {
    color: #18537a;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 12px;
}



.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.seprator{
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info{
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info{
    font-size: 0.9rem;
    margin-bottom: 20px;
    text-align: center;
}

.info i{
    color: #18537a;
    font-size: 1.1rem;
    margin-right: 4px;
}

.info-description span{
    color: #18537a;
    font-weight: bolder;
}

.action{
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}
.action a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 12px;
}

.item-container:hover .action{
    top: 15px;
}

.action:hover{
    background-color: rgba(196, 38, 38, 0.87);
}