.event-list-container{
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
}

.event-list-container img{
    height: 3rem;
}

.event-list-container h2{
    font-size: 30px;
    border-left: 4px solid #023047;
    padding-left: 20px;
}

.event-list-container .events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}