@import url(https://th.bing.com/th/id/OIP.YpgaYVxWjgYE9vxevVrKpgHaE8?w=255&h=180&c=7&r=0&o=5&pid=1.7);


*{
    font-family: "Besley", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s all linear;
}
*::selection {
    background: var(--main);
    color: #fff;
}
html{
    font-size: 68.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
/* Global Variables */
:root{
    --main:#f01027;
    --box_shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.3);
}

/*Navbar/Header Start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 9%;
}
.header .logo img{
    height: 6rem;
}
/*Navbr/Header End */